<ion-view view-title="Contact Us">
  <ion-content>
    <h1>Contact Us</h1>
    <form class="container">
      <div class="list">
        <label class="item item-input item-floating-label">
            <span class="input-label">Name</span>
          <input type="text" name="name" placeholder="Name">
        </label>

        <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
          <input type="email" name="email" placeholder="Email">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Message</span>
          <textarea name="comments" placeholder="Your message..."></textarea>
        </label>
      </div>
      <button class="button button-icon icon ion-email">
        Submit
      </button>
    </form>
  </ion-content>
</ion-view>
