<ion-view view-title="Contact Us">
  <ion-content>
    <h1>Contact Us</h1>
    <form class="container">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Placeholder 1">
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Placeholder 2">
        </label>
      </div>
      <button class="button button-icon icon ion-email">
        Submit
      </button>
    </form>
  </ion-content>
</ion-view>
